body {
	background: url(clouds.jpg) no-repeat;
	background-size: cover;
}

h3 {
	margin: 0 25px;
}

p {
	font-size: .84rem;
	display: inline-block;
}

.messageBox {
	border: 1px solid black;
}

.callArea {
	margin: 0 50px 0 50px;
}

.ng-cloak {
	display: none !important;
}