doctype
html
  head
    meta(charset="UTF-8")
    title Sky-Pie
  body
    div(id="user")
    video(id="local-video" height="150" autoplay)
    video(id="remote-video" height="150" autoplay)

    script(src="/socket.io/socket.io.js")
    script(src="/index.js")
